// Bootstrap options

$enable-gradients: true !default;
$enable-shadows: true !default;

// Theme colors

$primary: #8A68C8;
$secondary: #3F61C4;
$mrc-red: #FF635D;
$mrcgreen: #1AC987;
$mrc_pink: #FA91B6;
$mrc_yellow: #FFDC00;
$primary_light: #eae0fa;

$success: #3772ff !default;
$info: #13756e !default;
$warning: #ed6a5a !default;
$danger: #da162d !default;
$light: #e4e7e7 !default;
$dark: #403f4c !default;
$medium: #98989d;